#mypage{
    background-color: #FAFAFA;
}
#rowid{
    height: 100%;
    width: 100%;
}
#mainimg{
    border: 20px solid #FFFFFF;
    border-radius: 50%;
    width: 100%;
    margin: auto;
}
#mainp{
    text-align: left;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
#mainspan{
    color: #C8242F;
}
#maintask{
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
#username-text{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
#inputPassword5, #inputUsername{
    width: 50%;
}
#login{
    background: #C8242F 0% 0% no-repeat padding-box;
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    border-radius: 23px;
    width: 138px;
}
#forgot{
    text-decoration: none;
    color: #ADADAD;
}
#info{
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    color: #ADADAD;
}
#register{
    text-decoration: none;
    color: #C8242F;
}
#searchicon{
    height: 40px;
    width: 40px;
    margin-left: 50px;
}
#dheader{
    height: 80px;
}
#ddropdown{
    color: #000000;
    background-color: white;
    border:0px;
}
#dsearch{
    border: 0px;
}
#dsecondcontainer{
    height: 100%;
    width: 100%;
}
#dlayer1{
    height: 100%;
}
#dlayer2{
    background-color: #FAFAFA;
    height: 100%;
}
#dselected{
    letter-spacing: 0px;
    color: #C8242F;
    background-color: #FFF3F4;
    max-width: 100%;
}
#red{
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    opacity: 1;
}
#green{
    background: #A2B86C 0% 0% no-repeat padding-box;
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    opacity: 1;
}
#orange{
    background: #F16C20 0% 0% no-repeat padding-box;
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    opacity: 1;
}
#yellow{
    background: #EBC844 0% 0% no-repeat padding-box;
    border-radius: 50%;
    border: none;
    width: 18px;
    height: 18px;
    opacity: 1;
}
#star, #add, #total, #dollar, #bag{
    width: 33px;
    height: 33px;
}
#viewall{
    text-decoration: none !important;
    font: normal normal normal 12px/16px Roboto;
    color: #C8242F;
}
#paid1, #paid2, #paid3, #paid4, #paid5, #paid6{
    color: #3CDD5F;
    background-color: #EBFFEF;
    font: normal normal normal 15px/20px Roboto;
    border: none;
}
#failed1, #failed2{
    color: #FF4545;
    background-color: #FFF5F5;
    font: normal normal normal 15px/20px Roboto;
    border: none;
}
#pending{
    color: #BABABA;
    background-color: #F8F8F8;
    font: normal normal normal 15px/20px Roboto;
    border: none;
}